@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #ffffff;
}

.btn-menu-mobile {
  display: none;
}

.btn-close {
  display: none;
}

.side-menu {
  display: none;
}

header nav .logo {
  padding: 0 0 0 45px;
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 700;
}

header nav .logo a {
  text-decoration: none;
  color: #000000;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0 45px 0 0;
}

header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000000;
  transition: 0.2s ease-in-out;
}

header nav ul li a:hover {
  background-color: #3fa177;
  color: #ffffff;
  padding: 10px;
}

#services{
  background-color: #3fa177;
  color: #ffffff;
  padding: 10px;
  margin: 0 10px 0 10px;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.services-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 0 40px 0;
}

.services-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 400px;
  background-color: #3fa177;
  border-radius: 20px;
  transition: .2s ease-in-out;
}

.services-card:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.6);
}

.services-card i{
  color: #ffffff;
  font-size: 150px;
}

.popup h2{
  color: #000000;
  font-size: 20px;
  padding: 15px 0 5px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

.services-card p{
  color: #ffffff;
  font-size: 30px;
  padding: 20px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.services-card button, .services-card a{
  padding: 5px 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.services-card button:hover, a:hover{
  background-color: #ffffff;
  color: #3fa177;
}

.popup{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  width: 380px;
  height: 280px;
  background-color: #3fa177;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
  overflow-y: scroll;
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background-color: #3fa177;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #807e7e;
  border-radius: 10px;
  border: 3px solid #fff;
}

.popup i{
  color: #ffffff;
}

.popup h1{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 700;
}

.popup p{
  font-size: 25px;
  color: #d8d7d7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 15px 0 0 0;
}

.popup.active{
  position: absolute;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup .btn-fechar{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  font-size: 30px;
  cursor: pointer;
}

.overlay-modal{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 52, 50, 0.75);
  backdrop-filter: blur(3px);
  visibility: hidden;
}


.title-about-page{
  display: flex;
  justify-content: center;
}

.title-about-page h1{
  text-align: center;
  font-family: 'Monteserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  padding: 20px;
  color: #000000;
  border-bottom: 2px solid #3fa177;
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  width: 100%;
  background-color: #ffffff;
}

.informations {
  width: 1240px;
  margin: 0 auto;
}

.informations h1 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 35px;
  font-weight: 500;
  padding: 10px 0 20px 0;
}

.informations ul {
  display: flex;
  list-style: none;
}

.informations a {
  padding: 0 10px 0 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.informations p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.informations i{
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  background-color: #000000;
  margin-top: -25px;
  transition: .2s ease-in-out;
}

.informations i:hover{
  background-color: #3d3b3b;
}

hr {
  margin: 0 auto;
  width: 1240px;
  height: 2px;
  border: none;
  background-color: #807e7e;
}

@media screen and (max-width: 1839px) {
  .services-card{
    height: 300px;
    width: 300px;
  }
  .services-card i{
    font-size: 100px;
  }
  .services-card p{
    font-size: 20px;
  }
  .buttons-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttons-card button{
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 1352px) {
  main {
    flex-direction: column;
    justify-content: center;
    padding: 19px;
  }
  .main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .informations h1,
  p {
    text-align: center;
  }
  .informations ul {
    justify-content: center;
  }
  .side-image img {
    width: 400px;
    padding: 0;
  }
  .main-title p {
    text-align: left;
  }
}

@media screen and (max-width: 732px) {
  header nav ul li a {
    display: none;
  }
  .btn-menu-mobile {
    display: flex;
  }
  #icon {
    padding: 0 25px 0 0;
  }
  .side-menu-active {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
  }
  .side-menu-active ul {
    list-style: none;
    padding: 20px 0 0 0;
  }
  .side-menu-active ul li {
    padding: 20px 0 20px 0;
  }
  .side-menu-active ul li a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    transition: 0.2s ease-in-out;
  }
  .side-menu-active ul li a:hover {
    background-color: #3fa177;
    color: #ffffff;
    padding: 10px;
  }
  .services-card-container{
    gap: 20px;
  }
}

@media screen and (max-width: 682px) {
  body {
    background-position: center;
  }
  .main-title h1,
  .main-title p {
    text-align: center;
  }
  .side-image img {
    width: 300px;
  }
  .services-card{
    height: 300px;
    width: 280px;
  }
  .services-card i{
    font-size: 100px;
  }
  .services-card p{
    font-size: 20px;
  }
  .buttons-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttons-card button{
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 617px) {
  .services-card{
    height: 300px;
    width: 200px;
  }
  .services-card i{
    font-size: 100px;
  }
  .services-card p{
    font-size: 20px;
  }
  .buttons-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttons-card button{
    margin: 10px 0 10px 0;
  }
}

@media screen and (max-width: 514px) {
  body {
    background-position: center;
  }
  .logo h1 {
    font-size: 35px;
  }
  .main-title h1 {
    font-size: 40px;
  }
  .main-title p {
    font-size: 20px;
  }
  .popup{
    width: 300px;
  }
  footer{
    display: none;
  }
}

@media screen and (max-width: 340px) {
  .logo h1 {
    font-size: 28px;
  }
  .informations ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .informations li {
    padding: 0 0 5px 0;
  }
}
